<div class="app-article">
  <kf-table
    *ngIf="tableJsonData"
    [data]="tableData"
    [jsonData]="tableJsonData"
    [reload]="reload"
    [operateTemplate]="customTpl"
    [btnTemplate]="btnTpl"
  >
  </kf-table>

  <ng-template #btnTpl let-ids>
    <div class="grid-column-start">
      <kf-button
        style="width: 6.25rem;height: 2.5rem;"
        (click)="add()">
        添加
      </kf-button>
    </div>
  </ng-template>
</div>

<ng-template #customTpl  let-model>
  <div class="grid-column-center ">
    <!-- <kf-button
      buttonType="button--danger"
      buttonClass="ml-10"
      (click)="delete(model.data)">
      删除
    </kf-button>
    <kf-button
      buttonType="button--danger"
      buttonClass="ml-10"
      (click)="edit(model.data)">
      编辑
    </kf-button> -->
  </div>
</ng-template>



