
                            <section style="line-height:1.5;font-size:14px;margin:20px 0px;border:1px solid #2196f3;border-sizing:border-box;margin-top:40px;border-top:none" class="border-color">
                                <section style="line-height:1.5;font-size:14px;display:flex">
                                <section style="line-height:1.5;font-size:14px;width:6px;height:1px;background:#2196f3" class="bg-color"></section>
                                    <section style="line-height:1.5;font-size:14px;margin-top:-12px;padding:0 5px">引言</section>
                                    <section style="line-height:1.5;font-size:14px;flex:1;height:1px;background:#2196f3" class="bg-color"></section>
                                </section>
                                <section style="padding: 10px">
                                    <section><p style="line-height:inherit;font-size:14px;margin:10px 0">ErgoLAB Traffic 交通人因测试专家系统，是专业用于“以驾驶人为中心”的计算机测试系统，也是标准化的交通科研云平台。系统包含科学的适用于交通领域的问卷量表与行为实验任务，支持基于多终端开展群体测试、大数据常模统计、以及能力等级排名等。</p><p style="line-height:inherit;font-size:14px;margin:10px 0">系统一方面可用于对操作人员能力的测评、训练以及选拔等工作，另一方面结合ErgoLAB人机环境同步云平台，进行主客观数据的同步采集与分析，也是专业化的交通领域研究的科研平台。</p>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuHi7eCttigkcDioY.png"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    <p style="line-height:inherit;font-size:14px;margin:10px 0">在ErgoLAB Traffic 交通人因测试专家系统中，包括驾驶适应性测评模块、驾驶认知能力测评模块、驾驶人格特征测评模块、驾驶操作能力测评模块、驾驶次任务测评模块等，本章主要围绕驾驶适应性进行介绍。</p></section>
                                </section>
                            </section>
                        
                        <section style="line-height:1.5;font-size:14px;display:flex;justify-content:flex-start;align-items:center;flex-direction:column;margin:20px auto">
                            <section style="line-height:1.5;font-size:14px;display:flex;justify-content: flex-start;align-items:center;flex-direction:column" >
                                <section  style="line-height:1.5;font-size:14px;margin-bottom:-30.5px;width: 100%;display:flex;justify-content:space-between;align-items:flex-start"> 
                                    <section style="line-height:1.5;font-size:14px;width:9px;height:9px;border-left:1px solid #333333;border-top:1px solid #333333"></section>
                                    <section style="line-height:1.5;font-size:14px;width:9px;height:9px;border-right:1px solid #333333;border-top:1px solid #333333"></section>
                                </section>
                                <section style="line-height:1.5;font-size:14px;margin-bottom:-50.5px;display:flex;justify-content:center;align-items:center">
                                    <section style="margin: 0 7px;">
                                        <span style="line-height:83px;font-size:14px; font-size:55px;font-weight: bold;color:#2196f3;opacity:0.25" class="color">01</span>
                                    </section>
                                </section>
                                <section style="margin: 0 9px;">
                                    <section style="line-height:22px;font-size:16px; font-weight:bold;color:#333333;letter-spacing:1px">什么是驾驶适应性</section>
                                </section>
                                <section style="line-height:1.5;font-size:14px;width:100%;display:flex;justify-content:space-between;align-items:flex-start">
                                    <section style="line-height:1.5;font-size:14px;border-left:1px solid #333333;border-bottom:1px solid #333333;width:9px;height:9px"></section>
                                    <section  style="line-height:1.5;font-size:14px;width:9px;height:9px;border-right:1px solid #333333;border-bottom:1px solid #333333"></section>
                                </section>
                            </section>
                        </section>
                    <section  style="line-height:2;font-size:14px" style="line-height:1.5;font-size:14px;background:transparent;border:none" ><section style="line-height:2;font-size:14px"><p style="line-height:inherit;font-size:14px;margin:10px 0">驾驶适应性是驾驶员能够适应车辆、道路、交通环境与条件的能力, 具体是指驾驶人从事驾驶工作所必须具备的最低的生理和心理特性。</p>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuHi7eCttiM7GuMgt.jpg"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    
个体的驾驶适应性是客观存在的，同时，对驾驶人进行驾驶适应性的测试是必要的也是可行的。车辆的性能可以从科学技术层面得到提升，而驾驶人员因生理或心理特征而存在的事故倾向性则需要通过其他手段来进行判断和筛选。
国内外交通心理学方面的研究表明，通过对驾驶人员进行汽车驾驶员适应性测评可以有效降低道路交通事故的发生率。</section></section>
                        <section style="line-height:1.5;font-size:14px;display:flex;justify-content:flex-start;align-items:center;flex-direction:column;margin:20px auto">
                            <section style="line-height:1.5;font-size:14px;display:flex;justify-content: flex-start;align-items:center;flex-direction:column" >
                                <section  style="line-height:1.5;font-size:14px;margin-bottom:-30.5px;width: 100%;display:flex;justify-content:space-between;align-items:flex-start"> 
                                    <section style="line-height:1.5;font-size:14px;width:9px;height:9px;border-left:1px solid #333333;border-top:1px solid #333333"></section>
                                    <section style="line-height:1.5;font-size:14px;width:9px;height:9px;border-right:1px solid #333333;border-top:1px solid #333333"></section>
                                </section>
                                <section style="line-height:1.5;font-size:14px;margin-bottom:-50.5px;display:flex;justify-content:center;align-items:center">
                                    <section style="margin: 0 7px;">
                                        <span style="line-height:83px;font-size:14px; font-size:55px;font-weight: bold;color:#2196f3;opacity:0.25" class="color">02</span>
                                    </section>
                                </section>
                                <section style="margin: 0 9px;">
                                    <section style="line-height:22px;font-size:16px; font-weight:bold;color:#333333;letter-spacing:1px">驾驶适应性测评</section>
                                </section>
                                <section style="line-height:1.5;font-size:14px;width:100%;display:flex;justify-content:space-between;align-items:flex-start">
                                    <section style="line-height:1.5;font-size:14px;border-left:1px solid #333333;border-bottom:1px solid #333333;width:9px;height:9px"></section>
                                    <section  style="line-height:1.5;font-size:14px;width:9px;height:9px;border-right:1px solid #333333;border-bottom:1px solid #333333"></section>
                                </section>
                            </section>
                        </section>
                    <section  style="line-height:2;font-size:14px" style="line-height:1.5;font-size:14px;background:transparent;border:none" ><section style="line-height:2;font-size:14px"><p style="line-height:inherit;font-size:14px;margin:10px 0">相关研究表明，具有某些生理、心理特征的人，在驾驶过程中更容易发生交通事故，不适宜从事职业汽车驾驶工作。自美国心理学教授Mansensterbug在20世纪20年代开创驾驶员适应测验以来，至今世界上已经研究出许多驾驶适应性检测方法。</p><p style="line-height:inherit;font-size:14px;margin:10px 0">ErgoLAB Traffic 交通人因测试专家系统中的驾驶适应性测评模块以交通运输部2014年11月1日发布并实施的交通运输行业标准《道路运输驾驶员适宜性检测评价方法》（JT/T442-2014）为基础，并结合多项国家标准，搭建了驾驶适应性测评模块，系统运用交通心理学、生理学、交通医学等学科知识，对驾驶员的生理、心理、人格、态度、感受性等众多因素中与驾驶安全直接有关的、最基本的、可测定的项目进行测试和综合评价，做出科学诊断。</p>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuHi7eCttiM7Kur62.jpg"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    
基于测评结果筛选出适宜从事驾驶的人员，并使合格的驾驶员了解自身生理、心理素质等状况存在的轻微缺陷和不足，以便进行针对性的训练，提高驾驶安全性。
国内外的实践证明，开展驾驶适应性检测是提高驾驶员素质，从根本上预防道路交通事故的有效措施。<p style="line-height:inherit;font-size:14px;margin:10px 0">ErgoLAB Traffic 驾驶适应性测评，围绕驾驶员的人格类型、自我控制、社会责任心、驾驶行为和驾驶安全态度以及驾驶员的注意力水平、速度估计、时间估计、选择反应、紧急反应、动态视觉能力等方面进行测评。具体测试内容包括：</p></section></section><section style="line-height:1.5;font-size:14px;margin:10px 0">
                    <section  style="line-height:40px;font-size:16px; padding-right:30px;display:inline-block;height:40px;border-bottom:1px solid #2196f3" class="border-bottom-color">
                        &nbsp;01 驾驶行为问卷</section>
                    <section style="line-height:1.5;font-size:14px;width:50px;border-top:3px solid #2196f3" class="border-bottom-color"></section>
                </section><section  style="line-height:2;font-size:14px" style="line-height:1.5;font-size:14px;background:transparent;border:none" ><section style="line-height:2;font-size:14px"><p style="line-height:inherit;font-size:14px;margin:10px 0">驾驶行为问卷(Driver Behavior Questionnaire)是主要用于测量驾驶员的驾驶状况。最初Reason 提出 3 个驾驶风险因素分类。后来，Lawton 等人在 1997年把在此之前的三因素分类扩展为四个因素。2002年，Lajunen将此量表翻译成不同的语言，并进行了跨文化的研究。国内研究者郑东鹏在 2014 年探索了该问卷在中国的适用因素结构，分离出 4 因素结构，并应用验证性因子分析法进行验证。</p></section></section>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuH3J4ucQo2WYpgUY.png"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    <section style="line-height:1.5;font-size:14px;margin:10px 0">
                    <section  style="line-height:40px;font-size:16px; padding-right:30px;display:inline-block;height:40px;border-bottom:1px solid #2196f3" class="border-bottom-color">
                        &nbsp;02 快速反应任务</section>
                    <section style="line-height:1.5;font-size:14px;width:50px;border-top:3px solid #2196f3" class="border-bottom-color"></section>
                </section><section  style="line-height:2;font-size:14px" style="line-height:1.5;font-size:14px;background:transparent;border:none" ><section style="line-height:2;font-size:14px"><p style="line-height:inherit;font-size:14px;margin:10px 0">反应时（Reaction Time，简称RT）是指刺激施于有机体之后到明显反应开始所需要的时间。荷兰生理学家唐德斯，将反应时正式引入心理学领域，他利用反应时来测量各种心理活动所需的时间，并发展了三种反应时任务。</p><p style="line-height:inherit;font-size:14px;margin:10px 0">现在反应时已经成为心理学研究中最重要的反应变量和指标之一。快速反应任务结合了视觉刺激和听觉刺激，通过高灵敏度的操作面板进行反应，测量驾驶员的反应能力以及在压力情境下面对不断变化的刺激和需求保持准确、集中注意力的耐受性。</p></section></section>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuH3J4ucQo34sXswE.png"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    <section style="line-height:1.5;font-size:14px;margin:10px 0">
                    <section  style="line-height:40px;font-size:16px; padding-right:30px;display:inline-block;height:40px;border-bottom:1px solid #2196f3" class="border-bottom-color">
                        &nbsp;03 停止信号任务</section>
                    <section style="line-height:1.5;font-size:14px;width:50px;border-top:3px solid #2196f3" class="border-bottom-color"></section>
                </section><section  style="line-height:2;font-size:14px" style="line-height:1.5;font-size:14px;background:transparent;border:none" ><section style="line-height:2;font-size:14px"><p style="line-height:inherit;font-size:14px;margin:10px 0">停止信号任务（Stop Signal Task）是研究反应抑制能力的常用实验范式之一，用于测量认知系统的执行抑制能力。执行功能是指有机体对思想和行动进行有意识控制的心理过程，包括大量的复杂的认知过程，一般认为，执行功能主要包括三个方面，即抑制功能、转换功能和刷新功能，三者相互影响、相互作用。</p><p style="line-height:inherit;font-size:14px;margin:10px 0">反应抑制指抑制已经形成的动作反应冲动, 是执行控制的一个关键组成部分；具体来说，反应抑制就是抑制不再需要或不恰当的行为，以便人们可以对外界环境进行各种灵活的、有目的的行为反应。驾驶过程中可能遇到的各种情境都需要驾驶人进行判断，如驾驶员在驾驶过程中看到红灯时、前方有行人时需要停止踩踏油门；高速行驶时要避免紧急刹车等。</p></section></section>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuH3Mi1jjeTmLjbbX.png"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    <section style="line-height:1.5;font-size:14px;margin:10px 0">
                    <section  style="line-height:40px;font-size:16px; padding-right:30px;display:inline-block;height:40px;border-bottom:1px solid #2196f3" class="border-bottom-color">
                        &nbsp;04 速度知觉任务</section>
                    <section style="line-height:1.5;font-size:14px;width:50px;border-top:3px solid #2196f3" class="border-bottom-color"></section>
                </section><section  style="line-height:2;font-size:14px" style="line-height:1.5;font-size:14px;background:transparent;border:none" ><section style="line-height:2;font-size:14px"><p style="line-height:inherit;font-size:14px;margin:10px 0">速度知觉主要用于测量个体在不同情境下对物体运动速度的感知能力。速度知觉是运动知觉的一种，与时间知觉也有一定关系，在人的实践活动中有重要意义，尤其是驾驶员在驾驶过程中对于自身车辆和他人车辆的速度感知。速度知觉的估计受运动物体的大小，物体运动的方向，物体运动速度的大小，物体运动的距离等许多因素的影响。</p></section></section>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuH3J4ucQo34urLUR.png"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    <section style="line-height:1.5;font-size:14px;margin:10px 0">
                    <section  style="line-height:40px;font-size:16px; padding-right:30px;display:inline-block;height:40px;border-bottom:1px solid #2196f3" class="border-bottom-color">
                        &nbsp;05 气球风险任务</section>
                    <section style="line-height:1.5;font-size:14px;width:50px;border-top:3px solid #2196f3" class="border-bottom-color"></section>
                </section><section  style="line-height:2;font-size:14px" style="line-height:1.5;font-size:14px;background:transparent;border:none" ><section style="line-height:2;font-size:14px"><p style="line-height:inherit;font-size:14px;margin:10px 0">气球模拟风险任务(Balloon Analogue Risk Task)是由Lejuez(2002)等人提出的用于研究风险决策倾向的实验范式。涉及直觉-经验系统和理性分析两种决策系统，主要研究问题包括识别具有高风险倾向的个体和模拟动态风险决策过程。Benjamin(2007)等人研究发现气球模拟任务能让被试体验到风险性。气球风险任务可以测量驾驶员的风险决策倾向，筛选出具有高风险倾向的个体。</p></section></section>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuH3J4ucQo34utsjy.jpg"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    
<section style="line-height:1.5;font-size:14px;margin:10px 0">
                    <section  style="line-height:40px;font-size:16px; padding-right:30px;display:inline-block;height:40px;border-bottom:1px solid #2196f3" class="border-bottom-color">
                        &nbsp;06 视觉搜索绩效</section>
                    <section style="line-height:1.5;font-size:14px;width:50px;border-top:3px solid #2196f3" class="border-bottom-color"></section>
                </section><section  style="line-height:2;font-size:14px" style="line-height:1.5;font-size:14px;background:transparent;border:none" ><section style="line-height:2;font-size:14px"><p style="line-height:inherit;font-size:14px;margin:10px 0">视觉搜索绩效（Visual Search Performance）是指在以非目标物体为背景的情况下寻找特定目标物体的认知过程。随着信息技术的发展，广视野、多屏信息化监控的作业任务越来越广泛，如驾驶员对周边信息的感知、飞行员追踪搜索策略、高铁调度员信息监控、核电厂操作人员的监控任务等，对动态信息搜索与行为反应能力提出了更高的要求。通过视觉搜索绩效任务可以用于人员的认知测评与能力提升。</p></section></section>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuH3J4ucQovVHNQtU.jpg"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    <section style="line-height:1.5;font-size:14px;margin:10px 0">
                    <section  style="line-height:40px;font-size:16px; padding-right:30px;display:inline-block;height:40px;border-bottom:1px solid #2196f3" class="border-bottom-color">
                        &nbsp;07 部分任务清单</section>
                    <section style="line-height:1.5;font-size:14px;width:50px;border-top:3px solid #2196f3" class="border-bottom-color"></section>
                </section>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuHi7eCttjfZ1isEF.png"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    <section style="line-height:1.5;font-size:14px;margin:20px 0px">
                    <section style="line-height:1.5;font-size:14px;border-top:2.5px solid #2196f3;color:rgb(254, 254, 254)" class="border-top-color">
                        <section style="line-height:1.5;font-size:14px;margin-top:2px;border-width:0px;border-style:initial;border-color:#2196f3;overflow:hidden;color:inherit" class="border-color">
                            <section style="line-height:1.5;font-size:14px; display:inline-block;border-color:#2196f3" class="border-color">
                                <section style="line-height:1.4em;font-size:14px;padding:6px 10px;display:inline-block;vertical-align:top;font-weight:bold;float:left;border-color:rgb(79, 13, 7);background:#2196f3" class="bg-color">
                                    <span>扩展功能</span></section>
                                <section style="line-height:1.5;font-size:1em;display:inline-block;vertical-align:top;width:0px;height:0px;border-top:32px solid #2196f3;border-right:32px solid transparent;border-top-right-radius:4px;border-bottom-left-radius:2px" class="border-top-color">
                                    <br></section>
                            </section>
                        </section>
                    </section>
                </section><section  style="line-height:2;font-size:14px" style="line-height:1.5;font-size:14px;background:transparent;border:none" ><section style="line-height:2;font-size:14px">关于驾驶适应性的研究，还可以结合ErgoLAB人机环境同步平台，进行主客观多模态数据的同步采集与分析，包括驾驶人的生理数据、脑电数据、近红外数据、眼动数据、行为数据、动作姿态数据，以及表情等多模态数据的特征融合，构建驾驶人综合能力模型。

                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuH3J4ucQow9ThMvu.png"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    <p style="line-height:inherit;font-size:14px;margin:10px 0">若需要提升研究的广度与深度，ErgoLAB平台可以提供实车驾驶环境、模拟仿真驾驶环境等多种解决方案，可实现在特定的驾驶模拟仿真环境以及各种复杂自然的条件下对驾驶人-车辆-道路-环境数据的全方位采集与分析，客观定量化其交互影响的机理及其内在因果关系。</p>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuHi7eCttjg6wkCuj.jpg"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:70%;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    </section></section>
              <section style="line-height:1.5;font-size:14px;margin:20px 0px">
                  <section style="line-height:1.5;font-size:14px;height:25px;border-radius:20px;background:#2196f3;position:relative"></section>
                  <section style="line-height:1.5;font-size:14px;margin-top:-18px;position:relative;z-index:999;width:100%">
                    <section  style="line-height:1.5;font-size:14px;display:flex;justify-content:flex-start;align-items:center;flex-direction:column;width:100%;padding:0 !important">
                        <section style="line-height:1.5;font-size:14px;border:2px solid #2196f3;padding:2px;width:97%;background:#f2f9ff;margin:0 auto" class="border-color">
                            <section style="line-height:1.5;font-size:14px; border:1px dashed #2196f3;text-align:left;padding:0px 10px 0px 10px;margin:0 auto" class="border-color">
                                <p style="line-height:22px;font-size:14px;font-weight:bold;color:#7C7586;padding:0;margin:0" ><section  style="line-height:1.5;font-size:1rem;letter-spacing:1px;font-weight:bold;margin:10px 0"><span style="line-height:1.5;font-size:14px;flex-flow:column;display:inline-flex"><span  style="line-height:1.5;font-size:14px;display:inline-block;padding-right:10px" >温馨提示</span><span style="display:flex;"><span style="line-height:1.5;font-size:14px;background:#2196f3;display:inline-block;width:100%;height:3px" class="bg-color"></span><span style="line-height:1.5;font-size:14px;height:3px;display:inline-block;background:#2196f3;margin-left:4px;width:3px" class="bg-color"></span></span></span></section>
在ErgoLAB Traffic 交通人因测试专家系统中，除了驾驶适应性测评模块，还包括驾驶员认知能力测评模块、驾驶人格特征测评模块、驾驶员操作能力测评模块、驾驶次任务测评模块等，后续会持续与大家分享~<p style="line-height:inherit;font-size:14px;margin:10px 0">感兴趣的老师们可以联系我们了解更多详细内容。</p>
                    <section  style="width:100%; text-align: center;border-box:box-sizing;margin:20px 0">
                            <img src="https://cdnapi.ergolab.cn/api/cdn/files/Teams/Picture/0/ec86d614-fcec-4590-f1c3-3a04c997826c/jsjuHi7eCttjgrcULwe.png"  style="line-height:1.5;font-size:14px;border-style:solid;border-color:#2196f3;max-width:100%;border-width:0;box-sizing:border-box;max-width:null;border-width:nullpx;max-height:nullpx" class="border-color"  loading="lazy" alt="" crossorigin="anonymous">
                    </section>
                    </p>
                            </section>
                        </section>
                    </section>
                  </section>
              </section>
        