.app-field {
  padding: 2rem;

}

.grid-column-base {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.grid-column-center {
  @extend .grid-column-base;

  justify-content: center;
}

.grid-column-start {
  @extend .grid-column-base;

  justify-content: start;
}
