<app-table
  [reLoad]="reLoad"
  [jsonUrlObj]="jsonUrlObj"
  [checkIdLen]="checkIdLen"
  [tableTopTemplate]="topTpl"
  [extraBtnTemplate]="operationTpl"
  >
</app-table>

<ng-template #topTpl  let-ids>
  <kf-button
    style="width: 6.25rem;height: 2.5rem;"
    (btnOuter)="deleteBatch(ids)">
    批量删除
  </kf-button>
</ng-template>

<ng-template #operationTpl  let-model>
  <kf-button
    (btnOuter)="grantBtn(model)">
    授权
  </kf-button>
</ng-template>


<kf-drawer
[drawerTemplate]="drawerTpl"
[visible]="visible"
(closeOuter)="close()">
  <ng-template #drawerTpl >
    <ng-container *ngIf="visible">
      授权列表
      <!-- <app-grant-paradigm [id]="currentGrantId"></app-grant-paradigm> -->
    </ng-container>
  </ng-template>
</kf-drawer>

