<form
  #validateForm="ngForm"
  appIdentityRevealed
  nzLayout="inline"
  autocomplete="off"
>
  <!-- <kf-radio-group
    ngModel
    [name]="'radio'"
    [ngModelOptions]="{ name: 'radio' }"
    [options]="_checkboxGroups"
    [(ngModel)]="checkedId"
    [required]="true"
  >
    <kf-input-title title="单选: "></kf-input-title>
  </kf-radio-group>
  <kf-radio-group
  name="state" *ngIf="statusList"
  ngModel
  [setting]="{
    valueField: 'key',
    labelField: 'value'
  }"
  [(ngModel)]="state"
  [options]="statusList"
  (radioChanged)="radioChanged($event)"
>
</kf-radio-group> -->
<!-- <kf-input-number
ngModel
[setting]="{ title: '数字:', required: true }"
[layout]="{
  id: 'textyy',
  labelHtmlClass: 'flex-initial',
  fieldHtmlClass: 'border-bottom',
  borderless: true
}"
[ngModelOptions]="{ name: 'fruit' }"
[(ngModel)]="textValue"

>
</kf-input-number> -->

  <kf-input-text
    ngModel
    [setting]="{ title: '文本框:', required: true }"
    [layout]="{
      id: 'fruit',
      htmlClass: 'grid-64-content items-center',
      labelHtmlClass: 'flex-initial ant-input-affix-wrapper-lg',
      fieldHtmlClass: 'border-bottom',
      borderless: true
    }"
    [ngModelOptions]="{ name: 'fruit' }"
    [(ngModel)]="textValue"
    rex="^1[3456789]\d{9}$"
    [rexErrorInfo]="
      '请输入正确的手机号码或者座机号码，如：13888888888或者010-88888888'"
    [required]="false"
  >
  </kf-input-text>
  <!-- <kf-input-text
  ngModel
  [setting]="{ title: '文本框:'}"
  [layout]="{
    id: 'fruit',
    labelHtmlClass: 'flex-initial',
    fieldHtmlClass: 'border-bottom',
    borderless: true
  }"
  [ngModelOptions]="{ name: 'fruit' }"
  [(ngModel)]="textValue"
  [required]="true"
>
</kf-input-text> -->
  <kf-select
  ngModel
  [setting]="{
    title: '分类:',
    labelField: 'key',
    valueField: 'value',
    allowClear: false
  }"
  [ngModelOptions]="{name: 'select'}"
  [(ngModel)]="category"
  [options]="categories"
  [required]="true"
>
</kf-select>
  <!-- <kf-button>测试按钮444</kf-button>
   <kf-checkbox-group
      ngModel
      [name]="'checkGroup'"
      [ngModelOptions]="{name: 'checkGroup'}"
      [options]="_checkboxGroups"
      [(ngModel)]="ids"
      [required]="true">
    <kf-input-title title="复选框组: "></kf-input-title>
  </kf-checkbox-group>

  <kf-checkbox
    ngModel
    [name]="'checkbox'"
    [title]="'dd'"
    [ngModelOptions]="{name: 'checkbox'}"
    [(ngModel)]="checkedId"
    [required]="false"
  >
    <kf-input-title title="复选框: "></kf-input-title>
  </kf-checkbox>


  <kf-input-date
    ngModel
    [name]="'date'"
    [ngModelOptions]="{name: 'date'}"
    [(ngModel)]="dateValue"
    [required]="true">
    <kf-input-title title="日期: "></kf-input-title>
  </kf-input-date>

  <kf-radio-group
    ngModel
    [name]="'radio'"
    [ngModelOptions]="{name: 'radio'}"
    [options]=" _checkboxGroups "
    [(ngModel)]="checkedId"
    [required]="true">
    <kf-input-title title="单选: "></kf-input-title>
  </kf-radio-group>



<kf-textarea
    ngModel
    [name]="'textarea'"
    [ngModelOptions]="{name: 'textarea'}"
    [(ngModel)]="textValue"
    [rows]="10"
    [required]="true">
    <kf-input-title title="文本框: "></kf-input-title>
  </kf-textarea>

-->

  <!-- <kf-form-page [forms]="formsJsonData" [inputDto]="formInputData">
</kf-form-page> -->
<!-- <kf-list
ngModel
[name]="'list'"
[ngModelOptions]="{name: 'list'}"
[(ngModel)]="checkedId"
[options]=" _checkboxGroups "
[required]="true">
</kf-list> -->
{{ !validateForm.form.valid }}
  <button
    class="btn btn-primary"
    [disabled]="!validateForm.form.valid"
    (click)="click($event)"
  >
    测试按钮444
  </button>
</form>
