.app-table {
  padding: 2rem;
}

.table-name {
  font-size: 1rem;
}

.grid-column-base {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.grid-column-center {
  @extend .grid-column-base;

  justify-content: center;
}

.grid-column-start {
  @extend .grid-column-base;

  justify-content: space-between;
  align-items: center;
  border: 1px solid #f0f0f0;
  border-bottom: none;
  padding: 1rem;
}
