<div class="app-table">
  <kf-table
    *ngIf="tableJsonData"
    [data]="tableData"
    [api]="baseUrl"
    [jsonData]="tableJsonData"
    [reLoad]="reLoad"
    [customTemplate]="customTpl"
    [btnTemplate]="btnTpl"
    (switchOuter)="publish($event)"
    (tableOuter)="tableChange($event)"
  >
  </kf-table>

  <ng-template #btnTpl let-ids>
    <div class="grid-column-start">
      <kf-button
        style="width: 100px;"
        (btnOuter)="editOrAdd()">
        添加
      </kf-button>
      <ng-container *ngTemplateOutlet="tableTopTemplate; context: {$implicit: ids}"></ng-container>

    </div>
  </ng-template>

  <ng-template #customTpl  let-model>
    <div class="grid-column-center ">
      <kf-button
        buttonType="button--danger"
        buttonClass="ml-10"
        (btnOuter)="delete(model.data)">
        删除
      </kf-button>
      <kf-button
        buttonType="button--danger"
        buttonClass="ml-10"
        (btnOuter)="editOrAdd(model.data)">
        编辑
      </kf-button>
      <ng-container *ngTemplateOutlet="extraBtnTemplate; context: {$implicit: model.data}"></ng-container>
    </div>
  </ng-template>
</div>

<kf-modal *ngIf="inputDto"
  [isVisible]="isVisible"
  [jsonData]="formsJsonData"
  [inputDto]="inputDto"
  (modalOuter)="closeModal($event)">
</kf-modal>
